:root {
  --color-red: #e6563b;
  --color-yellow: #eb9d3a;
  --color-green: #7cb06c;
  --color-blue: #00aba9;
  --color-white: #f0f0f0;
  --color-light-gray: #e6e6e6;
  --color-dark-gray: #626262;
  --color-black: #252525;

  --size-icon-sm: 18px;
  --size-icon-md: 80px;
  --size-logo: 105px;

  --ff-heading: "Abel", sans-serif;
  --ff-body: "Anton", sans-serif;

  --fs-h1: 3em;
  --fs-h2: 2em;
  --fs-h3: 1.25em;
  --fs-h4: 1em;
  --fs-p: 1em;
  --fs-a: 1em;
  --fs-icon: 1em;
  --fs-logo: 3em;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-black);
  background: var(--color-dark-gray);
}

h1 {
  font-style: var(--ff-heading);
  font-size: var(--fs-h1);
}
h2 {
  font-style: var(--ff-heading);
  font-size: var(--fs-h2);
}
h3 {
  font-style: var(--ff-heading);
  font-size: var(--fs-h3);
}
h4 {
  font-style: var(--ff-body);
  font-size: var(--fs-h4);
}
p {
  font-style: var(--ff-body);
  font-size: var(--fs-p);
}
a {
  font-style: var(--ff-heading);
  font-size: var(--fs-a);
  text-decoration: none;
  color: var(--color-light-gray);
  margin-right: 1em;
}
.logo-text {
  font-style: var(--ff-heading);
  font-size: var(--fs-logo);
  color: var(--color-dark-gray);
}
.logo-image {
  height: var(--size-logo);
  width: var(--size-logo);
  margin-right: 0.5em;
}
.small-icon-text {
  color: var(--color-black);
  font-style: var(--ff-heading);
  font-size: var(--fs-icon);
}
.small-icon-bg {
  height: var(--size-icon-sm);
  width: var(--size-icon-sm);
  text-align: center;
  border-radius: 100%;
}
.big-icon-text {
  color: var(--color-white);
  font-style: var(--ff-heading);
  font-size: var(--fs-icon);
}
.big-icon-bg {
  height: var(--size-icon-md);
  width: var(--size-icon-md);
  text-align: center;
  border-radius: 100%;
  outline: solid 0.25em var(--color-white);
}
.bg-red {
  background: var(--color-red);
}
.bg-yellow {
  background: var(--color-yellow);
}
.bg-green {
  background: var(--color-green);
}
.bg-blue {
  background: var(--color-blue);
}
.bg-body {
  background: var(--color-green);
}
