:root {
  --bs-primary: #35c3c3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #35c3c3;
}

.colorMe {
  background-color: #35c3c3;
}

.forecastCard {
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: bolder;
}
